/* style.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f2f5;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(3, 50px);
  gap: 5px;
}
/* Adding an animation and transition */
.square {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  transition: all 2s ease-in-out;
  animation: scale-up 1s infinite alternate-reverse ease-in-out;
}

@keyframes scale-up {
  0% {
    scale: 0.5;
  }
  100% {
    scale: 1;
  }
}
